# Compilacion
target/
*.class

# Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# NetBeans / IntelliJ
.idea/
*.iml
nbproject/private/
nbbuild/
dist/
.nb-gradle/

# Eclipse
.classpath
.project
.settings/
bin/

# Sistema
Thumbs.db
.DS_Store
desktop.ini
